body {
  @include backupfont(sans);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p {
  font-family: Georgia;
  font-size: 1.25em;
  line-height: 1.35;
  a {
    @include refined-link;
    color: $brand-blue;
    &:hover {
      background-image: linear-gradient(to bottom, white 50%, $text 50%);
      color: $text;
    }
  }
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0;
}

iframe {
  width: 100% !important;
}

.wf-merriweather-n4-active {
  p,
  ul,
  ol {
    @include usefont(serif);
    font-size: 1.125em;
    letter-spacing: 0;
    line-height: 1.6;
  }
  .promo-beta p {
    font-size: 1em;
  }
}

.wf-lato-n3-active {
  body {
    @include usefont(sans);
  }
}

figure {
  @include standard-margins;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $text;
  text-decoration: none;
  transition: all .25s;
  &:hover {
    color: $brand-blue;
  }
}

// figure and images
.featured-image {
  text-align: center;
}

.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

.home .entry-title,
.page-template-book-php .entry-title {
  display: none;
}
