.full-wrapper {
  overflow: hidden;
  @include mq(tablet){
    margin: 0 auto;
    overflow: visible;
  }
}

.site-content {
  margin: 1em;
  @include mq(desktop){
    margin: 0 auto;
    max-width: 46rem;
  }
}
.entry-content,
.entry-footer {
  max-width: 46em;
  margin: 0 auto 3rem auto;
  @include mq(desktop){
    padding: 0 2em;
  }
}

.secondary-heros {
  @extend .cf;
  background: #f4f4f4;
  padding: 1.5em 1em;
}

.sub-wrapper-inner {
  max-width: 42rem;
  margin: 0 auto;
}