.full-wrapper {
  overflow: hidden;
  @include mq(tablet){
    margin: 0 auto;
    overflow: visible;
  }
}

.page .entry-content {
  margin: 1em;
  @include mq(tablet){
    max-width: 40em;
     margin-left: auto;
    margin-right: auto;
  }
  @include mq(desktop){
    max-width: 46em;
  }
}

.entry-content,
.entry-footer {
  max-width: 46em;
  margin: 0 auto 2rem auto;
  @include mq(desktop){
    padding: 0 2em;
  }
}

.post .entry-footer {
  @include mq(desktop){
    border-left: 1px solid #ddd;
    margin-left: 2em;
    padding: .5em 1em .001em 2em;
  }
}

.secondary-heros {
  @extend .cf;
  background: #f4f4f4;
  padding: 1.5em 1em;
}

.sub-wrapper-inner {
  max-width: 42rem;
  margin: 0 auto;
}