$tablet-start: 42.5em;
$desk-start: 62.5em;
$widescreen-start: 75em;

// colors
$brand-red: #b71909;
$brand-gold: #7d7339;
$brand-blue: #2b8fcb; //#0082f6;
$baby-blue: #8ad0ff;
$text:  #222;

// spacing
$base-spacing-unit: 2rem;
$bottom-spacing: 1.5rem;