/** These styles are used in your backend editor. **/
/* red: #b71909 */
/*blue: #0082f6 */

blockquote {
  font-style: italic;
}

.button {
  font-family: sans-serif;
  background-image: none;
  display: inline-block;
}

.button-normal {
  background: #ffffff;
  border: 1px solid #0082f6;
  letter-spacing: .5px;
  padding: .33em .875em;
  text-transform: uppercase;
}

.button-super {
  background-color: #0082f6;
  border: 1px solid white;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 1px solid lighten(#0082f6, 25%);
  padding: .25em .875em;
  text-transform: uppercase;
}

a.button {
  cursor: pointer;
  text-decoration: none;
}

.quote-source {
  color: #999;
}

.quote-title {
  color: #b71909;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
