.quote-title {
  color: #bd2819;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

blockquote {
  background-color: #fff; //#FFFEF9;
  box-shadow: 0 0 2.125em rgba(0,0,0,0.075);
  margin: 2em 0;
  padding: .5em 1em 1em;
  @include mq(tablet){
    border: 1px solid #fff;
    padding: 0.5em 2em 2.5em;
  }
}

.quote-source {
  display: block;
  color: #999;
  font-style: italic;

  /* Include a line break immediately before source */
  &:before {
    content: '\A'; 
  }
}

.wf-lato-n3-active {
  .quote-title {
    @include usefont(sans);
    font-size: .9375em;
  }
}