.quote-title {
  color: #bd2819;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

blockquote,
.wf-merriweather-n7-active blockquote,
.wf-merriweather-n7-active blockquote {
  margin: 0 0 1em 0;
  padding-left: 1em;
  border-left: 1px solid #ccc;
  @include mq(tablet){
    margin:0;
    padding-left: 0;
    border: none;
  }
}

.quote-source {
  display: block;
  color: #999;
  font-style: italic;

  /* Include a line break immediately before source */
  &:before {
    content: '\A'; 
  }
}