.button {
  @include backupfont(sans);
  background-image: none;
  display: inline-block;

  &:hover {
    background-image: none;
  }
}

.button-normal {
  background: #ffffff;
  border: 1px solid $brand-blue;
  letter-spacing: .5px;
  padding: .33em .875em;
  text-transform: uppercase;
  transition: all .125s;
  transition-timing-function: ease-out;
  &:hover {
    color: $brand-blue;
    background:#F2F6FF;
    // transform: matrix(1, 0, -0.2, 1, 0, 0);
  }
}

.button-super {
  background-color: $brand-blue;
  border: 1px solid white;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 1px solid lighten($brand-blue, 25%);
  padding: .25em .875em;
  text-transform: uppercase;
  transition: all 0.125s;
  transition-timing-function: ease-out;
  &:hover {
    background-color: darken($brand-blue, 10%);
    border: 1px solid white;
    color: #fff;
    outline: 1px solid darken($brand-blue, 25%);
  }
}

.button-tiny {
  background-color: transparent;
  border: 1px solid $brand-blue;
  border-radius: 2px;
  color: $brand-blue;
  font-size: 12px;
  padding: 0px 10px;
  text-transform: uppercase;
  &:hover {
    color: darken($brand-blue, 20%);
    border-color: darken($brand-blue, 20%);
  }
}

.wf-lato-n3-active {
  .button {
    @include usefont(Lato);
  }
}

.post-edit-link {
  @extend .button;
  @extend .button-tiny;
}