.button {
  @include backupfont(sans);
  background-image: none;
  display: block;
  margin-bottom: 1em;

  &:hover {
    background-image: none;
  }

  @include mq(tablet){
    display: inline-block;
  }
}

.button-normal {
  border: 1px solid $brand-blue;
  color: $brand-blue;
  letter-spacing: .5px;
  padding: .33em .875em;
  text-transform: uppercase;
  transition: all .125s;
  transition-timing-function: ease-out;
  &:hover {
    color: $brand-blue;
    transform:scale(1.025);
    // transform: matrix(1, 0, -0.2, 1, 0, 0);
  }
}

.button-super {
  background-color: $brand-blue;
  border: 1px solid white;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 1px solid lighten($brand-blue, 25%);
  padding: .25em .875em;
  text-transform: uppercase;
  transition: all 0.125s;
  transition-timing-function: ease-out;
  &:hover {
    background-color: darken($brand-blue, 10%);
    border: 1px solid white;
    color: #fff;
    transform:scale(1.025);
    outline: 1px solid darken($brand-blue, 25%);
  }
}

.button-tiny {
  background-color: transparent;
  border: 1px solid $brand-blue;
  border-radius: 2px;
  color: $brand-blue;
  font-size: .75em;
  display: inline-block;
  padding: 1em;
  text-transform: uppercase;
  &:hover {
    color: darken($brand-blue, 20%);
    border-color: darken($brand-blue, 20%);
  }
  @include mq(tablet){
    display: inline-block;
    padding: .5em 1em;
  }
}

.buy-link {
  @include backupfont(sans);
  background-color: $brand-blue;
  border: 1px solid #fff;
  color: #fff;
  color: rgba(255,255,255,0.9);
  background-image: none;
  padding: .5em;
  display: block;
  text-align: center;

  @include mq(tablet) {
    background-color: transparent;
    color: $brand-blue;
    border-right: 1px solid #ccc;
    display: inline;
    margin-right: 1em;
    padding-right: 1em;
    padding-left: 0;
    text-align: left;
    &:last-of-type {
      border-right: none;
    }
  }
  
  &:hover {
    background-image: none;
  }
}

.wf-lato-n3-active {
  .button, .buy-link {
    @include usefont(sans);
  }
}

.post-edit-link {
  @extend .button;
  @extend .button-tiny;
}
