.callout {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.125;
  margin-bottom: $bottom-spacing;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}

.callout span {
  display: inline-block;
  position: relative;  
}
.callout span:before,
.callout span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 0.425rem;
  width: 4rem;
}
.callout span:before {
  right: 100%;
  margin-right: 15px;
}
.callout span:after {
  left: 100%;
  margin-left: 15px;
}

.callout-major {
  color: $brand-red;
  font-size: 20/16 * 1em;
  font-weight: 300;

  span:before,
  span:after {
    top: 0.625rem;
  }
}

.callout-meta {
  color: #666;
  letter-spacing: .01em;
  margin-bottom: $bottom-spacing;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  @include mq(tablet){
    color: #999;
  }
}

.wf-lato-n3-active {
  .callout {
    @include usefont(sans);
  }
  .callout-meta {
    @include usefont(sans);
  }
}