.callout {
  margin-bottom: 1rem;
}

.simple-callout {
  background: #eee;
  padding: 1em;
  text-align: center;
}

.callout-major .callout-inner {
  display: inline-block;
  position: relative;  
}
.callout-major .callout-inner:before,
.callout-major .callout-inner:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 0.425rem;
  width: 4rem;
}
.callout-major .callout-inner:before {
  right: 100%;
  margin-right: 15px;
}
.callout-major .callout-inner:after {
  left: 100%;
  margin-left: 15px;
}

.callout-major {
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1.125;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 20/16 * 1em;
  font-weight: 700;

  .callout-inner {
    color: $brand-red;
  }

  .callout-inner:before,
  .callout-inner:after {
    top: 0.625rem;
  }
}

.callout-meta {
  color: #666;
  letter-spacing: .01em;
  margin-bottom: $bottom-spacing;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  @include mq(tablet){
    color: #999;
  }
}

.callout-minor {
  @include backupfont(serif);
  background-color: $brand-blue;
  padding: .5rem;
  font-weight: 400;
  font-size: 1.25rem;
  .callout-inner {
    color: #fff;
  }
}

.wf-lato-n3-active {
  .callout-major {
    @include usefont(sans);
  }
  .callout-meta {
    @include usefont(sans);
  }
}

.wf-merriweather-n4-active {
  .callout-minor {
    @include usefont(serif);
  }
}