/*
 * h1 through h6
 */

h1,
.alpha {
  margin: 0;
  overflow-wrap: break-word;
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: .5em;
  @include mq(tablet){
    font-size: 3.125rem;
    line-height: 1.25;
    margin-bottom: .75rem;
  }
}

h2,
.beta {
  font-size: 1.5em;
  margin: 0;
  overflow-wrap: break-word;
}

h3, 
.gamma {
  font-size: 1.25em;
  margin: 0;
  margin-bottom: 1em;
  overflow-wrap: break-word;
}

h4,
.delta {
  font-size: 1em;
  margin: 0;
}
