/*
 * h1 through h6
 */

h1,
.alpha {
  font-size: 2em;
  margin: 0;
  overflow-wrap: break-word;
}

h2,
.beta {
  font-size: 1.5em;
  margin: 0;
  overflow-wrap: break-word;
}

h3, 
.gamma {
  font-size: 1.25em;
  margin: 0;
  overflow-wrap: break-word;
}

h4,
.delta {
  font-size: 1em;
  margin: 0;
}
