.home-hero {
  margin: 1em;
  @include mq(desktop){
    margin: 0 auto;
    max-width: 46rem;
  }
  .hero-image {
    max-width: 8rem;
    @include standard-margins;
    @include mq(tablet){
      max-width: 12rem;
    }
  }
}

.home-hero-intro {
  margin-bottom: 2em;
  padding: 0 3%;
  @include mq(desktop){
    padding: 0;
  }
}

// .book-title {
//   @include main-title;
//   margin: 1rem;
//   text-align: left;
//   // // @include mq(tablet){
//   //   margin: 1em auto;
//   //   text-align: center;
//   // }
// }

h1.book-title {
  margin-bottom: .5em;
  text-align: center;

  @include mq(tablet){
    font-size: 3.375em;
    line-height: 1.25;
    margin-bottom: .75rem;
  }
}

.book-subtitle {
  @extend h3;
  @include standard-margins;
  @include backupfont(sans);
  margin-top: -.5em;
}

.margin-block:last-child {
  margin-bottom: 0;
}

// Web Fonts

// .wf-playfairdisplay-n9-active {
//   .book-title {
//     @include usefont(fancy);
//     // margin: 1rem;
//     // text-align: left;
//     // @include mq(tablet){
//     //   margin: 1em auto;
//     //   text-align: center;
//     // }
//   }
// }
.wf-lato-n3-active {
  .book-subtitle {
    @include usefont(sans);
    font-weight: 300;
  }
}