.home-hero {
  @include mq(desktop){
    margin: 0 auto;
    max-width: 46rem;
  }
  .hero-image {
    max-width: 8rem;
    @include standard-margins;
    @include mq(tablet){
      max-width: 12rem;
    }
  }
  .hero-image.flex-row {
    flex: 1;
  }
}

.flex-container-row .hero-image {
  margin-bottom: 0;
}

.home-hero-intro {
  margin: 0 1em 2em 1em;
  max-width: 40em;
  @include mq(tablet){
    margin: 0 auto 2em auto;
  }
}

h1.book-title {
  margin-bottom: .5em;
  text-align: center;

  @include mq(tablet){
    margin-bottom: .75rem;
  }
}

.blurb {
  flex: 2;
  position:relative;
  top: -.825rem;
}

.blurb-quote {
  @include backupfont(serif);
  display: block;
  quotes: "“" "”" "‘" "’";
  line-height: 1.6;
  margin-bottom: .25rem;
  font-size: 1rem;
  text-align: left;
  &::first-word {
    text-transform: uppercase;
    font-size: 1rem;
  }
  &:before,
  &:after {
    font-size: 2rem;
    color: #ccc;
    font-weight: 700;
    position: absolute;
    
  }
  &:before {
    content: open-quote;
    left: -1.75rem;
  }
  &:after {
    content: close-quote;
  }
  @include mq(tablet){
    font-size: 1.25rem;
    margin-bottom: .75rem;
  }
}

.wf-merriweather-n4-active {
  .blurb-quote {
    @include usefont(serif);
  }
}

.blurb-source {
  display: block;
  text-align: left;
}

.book-subtitle {
  @extend h3;
  @include standard-margins;
  @include backupfont(sans);
  font-weight: normal;
  line-height: 1.35;
  // margin-top: -.5em;
}

.margin-block:last-child {
  margin-bottom: 0;
}

// Web Fonts


.wf-lato-n3-active {
  .book-subtitle {
    @include usefont(sans);
    font-weight: 300;
  }
}