/*
 * Images
 */

.alignleft {
  float: left;
  margin: 0 1.5em 1em 0;
  width: 33.33333%;
}

.alignright {
  float: right;
  margin: 0 0 1em 1.5em;
  width: 33.33333%;
}

img.aligncenter {
  display: block;
  margin: 1em auto;
}

.full-width-image {
  height: 25vh;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 1em;
  @include mq(tablet){
    height: 500/16 * 1em;
    height: 60vh;
  }
}

.wp-caption-text {
  color: #999;
  text-align: center;
}