p.add-initial-cap:first-letter,
.single-post .entry-content > p:first-of-type:not(.no-initial-cap):first-letter {
  @include backupfont(sans);
  color: $brand-red;
  font-size: 58/16 * 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 48/16 * 1rem;
  float: left;
  padding-right: 0.15em;
}

.wf-lato-n3-active {
  .single-post .entry-content > p:first-of-type:not(.no-initial-cap):first-letter {
    @include usefont(sans);
    color: $brand-red;
    font-size: 3.175em;
    line-height: 0.9em;
  }
}

.wf-playfairdisplay-n9-active {
  p.add-initial-cap:first-letter,
  .single-post .entry-content > p:first-of-type:not(.no-initial-cap):first-letter {
    @include mq(desktop){
      @include usefont(fancy);
      font-size: 132/16 * 1rem;
      line-height: 92/16 * 1rem;
      padding-right: 12/16 * 1rem;
    }
  }
}
