.menu-toggle {
  display: none;
}

.main-navigation {
  clear: both; 
  font-weight: 300;
  margin-bottom: $bottom-spacing;
  text-align: center;
  @include mq(tablet){
    margin-bottom: 2rem;
  }
}

ul.nav-menu {
  font-size: 1.125em;
  list-style: none;
  // overflow-x: auto;
  // white-space: nowrap;
  // -webkit-overflow-scrolling: touch;
  margin: 0;
  padding-left: 0;
}

ul.nav-menu li {
  display: inline-block;
  letter-spacing: .5px;
  @include mq(tablet){
    // padding-left: 2em;
    text-transform: uppercase;
    // &:first-of-type {
    //   padding-left: 2em;
    // }
  }
}

a.menu-item-top-level {
  color: #333;
  font-size: 15/16 * 1rem;
  padding: .3125rem 1rem;
  text-decoration: none;
  transition: all .25s;
  @include mq(tablet){
    background-image: none;
    background-position: 0 1.75rem;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    border-radius: 2px;
    &:hover {
      background-image: none;
      background-color: #eee;
    }
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: .5px;
    padding: .3125rem 1rem;
  }
}

.menu-item {
  @include backupfont(sans);
}

.wf-lato-n3-active {
  .menu-item {
    @include usefont(sans);
  }
}
