.menu-toggle {
  display: none;
}

.main-navigation {
  clear: both; 
  font-weight: 300;
  margin-bottom: $bottom-spacing;
  text-align: center;
  @include mq(tablet){
    margin-bottom: 2rem;
  }
}

ul.nav-menu {
  font-size: 1.125em;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding-left: 0;
  @include mq(tablet){
    margin-left: -2em;  
  }
  ul {
    // display: none;
  }
}

ul.nav-menu li {
  display: inline-block;
  letter-spacing: .5px;
  padding-left: 1em;
  &:first-of-type {
    padding-left: 0; 
  }
  @include mq(tablet){
    padding-left: 2em;
    text-transform: uppercase;
    &:first-of-type {
      padding-left: 2em;
    }
  }
}

.nav-menu a {
  color: #333;
  font-size: 0.875rem;
  text-decoration: none;
  transition: all .25s;
  @include mq(tablet){
    background-image: none;
    background-position: 0 1.75rem;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    &:hover {
      background-image: linear-gradient(to bottom, #aaa 50%, #fff 50%); 
      // background-color: #333;
      // color: #fff;
    }
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: .5px;
    padding: .3125rem;
  }
}

.menu-item {
  @include backupfont(sans);
}

.wf-lato-n3-active {
  .menu-item {
    @include usefont(Lato);
  }
}

// ul.nav-menu ul.show {
//   background-color: rgba(0,0,0,0.8);
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 9999;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 0;
//   li {
//     padding-left: 0;
//     a {
//       color: white;
//       font-size: 3rem;
//       text-transform: capitalize;
//     }
//   }
// }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 1011;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 2em;
  top: 4em;
  overflow: hidden;
  border: none;
  background: url(images/close-button-3px.svg) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  padding-left: 0;
}

.overlay ul li:first-of-type {
  padding-left: 0;
}

.overlay ul li a {
  font-size: 2em;
  font-weight: 100;
  display: block;
  color: #111;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  // text-transform: capitalize;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  background-image: none;
  color: $brand-blue;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

.overlay .sub-menu {
  background-color: #fff;
  box-shadow: 0 0 2.125em rgba(0,0,0,0.1);
  padding: 3em;
}

.nav-thumbnail {
  margin-right: 1em;
  width: 2em;
}

.thumb-text {
  text-align: left;
}

.thumb-title {
  color: brown;
  @include mymixin;
}

.thumb-subtitle {
  clear: left;
  text-transform: capitalize;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    // height: 70%;
  }
  .overlay ul li {
    // min-height: 34px;
  }
}
