.entry-title {
  @include standard-margins;
  @include backupfont(serif);
  text-align: left;
  font-size: 2.75em;
}

.blog .entry-header {
  padding: 0 2em;
}

.wf-lato-n3-active {

  .entry-title {
    @include usefont(Playfair);
  }

}