.promo {
  margin: 0 auto;
  max-width: 46rem;
}

.promo-beta-group {
  // margin-left: -2rem;
}

.promo-beta {
  clear: left;
  margin-bottom: 2rem;

  p {
    font-size: 1.125em;
  }
}

.beta-desc {
  @include mq(tablet){
    overflow: hidden;
  }
}


.book-title--beta {
  font-family: Times New Roman, Times, serif;
}