.secondary-book {
  @include bigger-margins;
  @extend .cf;
  clear: both;
}

.secondary-title {
  @include backupfont(serif);
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.6);
  text-align: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 #fff;
  padding-bottom: .5em;
  @include mq(tablet){

  }
}


.secondary-book-image {
  border-radius: 50%;
  height: 8em;
  width: 8em;
  overflow: hidden;
  @include mq(tablet){
    border-radius: initial;
    float: left;
    margin-right: $base-spacing-unit;
    height: auto;
    width: 7em;
  }
}

.secondary-book-text {
  overflow: hidden;
  text-align: center;
  p {
    font-size: 1.125em;
  }
  @include mq(tablet){
    text-align: left;
  }
}

.secondary-book-description {
  padding: 0 1em;
  text-align: left;
  @include mq(tablet){
    padding: 0;
  }
}

.wf-merriweather-n4-active {
  .secondary-book-text {
    overflow: hidden;
    p {
      font-size: 1.125em;
    }
  }
}

.secondary-book-title {
  @include backupfont(sans);
  line-height: 1.3;
  margin-bottom: 0.125em;
  text-transform: uppercase;
  font-weight: 300;
}

.secondary-subtitle {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.35;
  color: #666;
  @include mq(tablet){
    font-size: 1.5em;
    font-weight: 300; 
    line-height:1.5;
  }
}

.wf-lato-n3-active {
  .secondary-title {
    @include usefont(fancy);
  }

  .secondary-book-title {
    @include usefont(sans);
    font-size: 1em;
    font-weight: 400; 
     
    a {
      color: $brand-blue;
      letter-spacing: 1px;
    }
    @include mq(tablet){
      font-size: 1.5em;
      font-weight: 300; 
    }
  }

  .secondary-subtitle {
    @include usefont(sans);
  }

}