.connections-wrapper {
  position: relative;
  @include mq(desktop){
    border-top: 10px solid #eee;
    margin-bottom: 30/16 * 1em;
    margin-left: -112px;// -112/16 * 1em;
    width: 960/16 * 1em;  
  }
}

.connections {
  border-width: 1px;
  border-color: #ccc;
  border-left: 1px solid #ccc;
  border-top: none;
  float: right;
  width: 33.33333%;
  padding-left: 1rem;
  padding-bottom: .25em;
  position: relative;
  margin-left: 1rem;
  margin-bottom: 2rem;
  top: 0; 
  text-align: left;
  width: 6em;

  @include mq(tablet){
    padding-left: 2rem;
    margin-left: 2rem;
    width: 8em;
  }
  @include mq(desktop){
    border: none;
    float: none;
    position: absolute;
    top: 2em;
    right: 0;
    width: 6.5em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.connections-wrapper-post {

  .connections {
    top: 1.25em;

    @include mq(desktop){
      position: absolute;
      padding: 1.25em 0 0 0;
      top: 0;
      right: 0;
    }

  }

  @include mq(desktop){
    margin-left: -112/16 * 1em;
    width: 960/16 * 1em;  
    position: relative;
  }
}

.connections__title {
  color: $brand-red;
  line-height: 2.25;
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
  @include mq(desktop){
    margin-bottom: 0.25rem;
  }
}

.connections__list--link {
  background: none;
  color: #666;
  display: block;
  font-size: .75em;
  padding: 1em 0;
  text-decoration: none;
  &:hover {
    background: none;
  }

  @include mq(desktop){
    padding: .5em 0;
  }
}

.wf-lato-n3-active {
  .connections__title {
    @include usefont(sans);
  }

  .connections__list--link {
    @include usefont(sans);
  }
}
